.photo-details-modal {
  background-color: #F5F5F5;
  box-shadow: 0 0 0 50vmax rgba(0,0,0,.5);
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -40%);
  height: 90%;
  width: 55%;
  overflow-y: scroll;
  border-radius: 12px;

  background-image: url('https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-102267.jpg?w=1380&t=st=1710215887~exp=1710216487~hmac=c3186dd66b437bf2bee376ffe343495ffba78b0be65640165328f93827c25090');
  background-size: cover;
  background-position: center;
}

.photo-details-modal__close-button {
  background-color: white;
  border: none;
  border-radius: 35%;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 16px;
  margin-top: 16px;
}

.photo-details-modal__images {
  margin: 10px 30px 24px 38px;
  padding: 8px;
  border-width: 0.5px;
  border-color: lightgray;
  border-style: solid;
  border-radius: 8px;
  max-width: fit-content;
  
}

.photo-details-modal__image {
  max-width: 95%;
  border-radius: 8px;

  margin-left: 10px;
  padding-top: 4px;
}

.photo-details-modal__top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px;
  margin-top: 8px;
  align-items: center;


}

.photo-details-modal__photographer-details {
  display: flex;
  font-size: 16px;

  margin-left: 10px;
}

.photo-details-modal__header {
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 90%;
}

.photo-details-modal__photographer-location {
  color: #838383;
}

.photo-details-modal__photographer-profile {
  object-fit: cover;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 8px;
  width: 40px;
  height: 40px;
}

.photo-details-modal__photographer-info {
  margin-top: 5px;
  font-weight: 700;
  font-size: 12px;
  margin-left: 8px;
}

h3 {
  padding-left: 20px;
  margin-bottom: 0  ;
}
