.top-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
  height: 72px;
  background-image: url('https://img.freepik.com/free-photo/blue-watercolor-texture-background_23-2148153281.jpg?w=2000&t=st=1710219141~exp=1710219741~hmac=98d9a2116aba1b704b4e69e3996134f8b576405075009b804b1942508ea790b2');
  //background-image: url('https://images.unsplash.com/photo-1619922800069-098b291b8f17?q=80&w=1888&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
//background-image: url('https://img.freepik.com/free-photo/perspective-exterior-nobody-empty-box_1258-260.jpg?w=2000&t=st=1711158093~exp=1711158693~hmac=616dcde172acc161eb25a6d77b244ea40c26ff18fa6d5bd441bec7a62bef5857');
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.top-nav-bar__logo {
  text-decoration: overline;
  font-weight: 500;
  font-size: 24px;
  color: #111;
  text-underline-position: auto;
  margin-left: 24px;
}