.top-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
  height: 72px;
  background-image: url('https://img.freepik.com/free-photo/blue-watercolor-texture-background_23-2148153281.jpg?w=2000&t=st=1710219141~exp=1710219741~hmac=98d9a2116aba1b704b4e69e3996134f8b576405075009b804b1942508ea790b2');
  background-size: cover;
  background-position: center;
}

.top-nav-bar__logo {
  text-decoration: overline;
  font-weight: 500;
  font-size: 24px;
  color: #111;
  text-underline-position: auto;
  margin-left: 24px;
}