.App {
  
  //background-image: url('https://img.freepik.com/free-photo/blue-watercolor-texture-background_23-2148153281.jpg?w=2000&t=st=1710219141~exp=1710219741~hmac=98d9a2116aba1b704b4e69e3996134f8b576405075009b804b1942508ea790b2');

  background-image: url('https://img.freepik.com/free-photo/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.jpg?w=2000&t=st=1711158510~exp=1711159110~hmac=8193b0b0939a70dae8a9c5703ad6f3bcd3403d429506a2f815df3cb8c1c73765');
 //background-image: url('https://img.freepik.com/free-photo/blue-red-gradient-watercolor-stroke-texture_23-2147835964.jpg?w=2000&t=st=1711158599~exp=1711159199~hmac=704b4d68fd4a482215aaac5c033263583f3ad419bba1da66cdd66bd370c370fd');
  background-size: cover;
  background-position: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
